.cards {
    margin: 0;
    padding: 0 200px 67px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px 17px;
}

@media screen and (max-width: 1124px) {
    .cards {
        padding-left: 143px;
        padding-right: 143px;
    }
}

@media screen and (max-width: 984px) {
    .cards {
        padding-left: 70px;
        padding-right: 70px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 568px) {
    .cards {
        padding-left: 19px;
        padding-right: 19px;
        padding-bottom: 48px;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}