.popup__error_visible {
    font-size: 12px;
    line-height: 14px;
    color: #ff0000;
    display: block;
    margin: 4px 0 0 6px;
    box-sizing: border-box;
    max-height: 25px;
    position: absolute;
    top: 140px;
}

.popup__error_visible:last-of-type {
    top: 197px;
}

@media screen and (max-width: 620px) {
    .popup__error_visible {
        top: 148px;
    }
}

@media screen and (max-width: 620px) {
    .popup__error_visible:last-of-type {
        top: 205px;
    }
}