.profile__edit-button {
    margin: 0;
    width: 24px;
    height: 24px;
    outline: 1px solid #fff;
    background-image: url(../../../images/pen.png);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

@media screen and (max-width: 568px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        background-size: 7.5px;
    }
}