.popup__button_valid {
    color: #fff;
    background-color: #000000;
    cursor: pointer;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    border: 0;
}

.popup__button_valid:hover {
    opacity: 0.6;
  }

@media screen and (max-width: 620px) {
    .popup__button_valid {
        margin-top: 13px;
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 14px;
    }
}