.popup__container {
    width: 358px;
    height: 330px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-left: 36px;
    padding-right: 36px;
}

@media screen and (max-width: 620px) {
    .popup__container {
        width: 238px;
        height: 322px;
        padding-left: 22px;
        padding-right: 22px;
    }
}