.header {
    margin: 0 auto 40px;
    border-bottom: 1px solid rgb(84,84,84,0.7);
    width: 880px;
}

@media screen and (max-width: 920px) {
    .header {
        width: 581px;
    }
}

@media screen and (max-width: 620px) {
    .header {
        width: 320px;
    }
}