.popup__close {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(../../../images/Close-Icon.svg);
    top: -40px;
    right: -40px;
}

@media screen and (max-width: 620px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}