.popup__close {
    cursor: pointer;
    float: right;
    border: none;
    background-color: transparent;
}

.popup__close:before,
.popup__close:after {
    content: "";
    position: absolute;
    width: 42px;
    height: 4px;
    background: #fff;
    margin: -24px 219px;
}

.popup__close:before {
    transform: rotate(45deg);
}

.popup__close:after {
    transform: rotate(-45deg);
}

@media screen and (max-width: 568px) {
    .popup__close:before,
    .popup__close:after {
        width: 28px;
        height: 3px;
        margin: -29px 117px;
    }
}