.popup__close {
    cursor: pointer;
    float: right;
}

.popup__close:before,
.popup__close:after {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: #fff;
    margin: -24px 8px;
}

.popup__close:before {
    transform: rotate(45deg);
}

.popup__close:after {
    transform: rotate(-45deg);
}

@media screen and (max-width: 568px) {
    .popup__close:before,
    .popup__close:after {
        width: 20px;
        height: 2px;
        background: #fff;
        margin: -36px -20px;
    }
}