.profile__info {
    margin: 0;
    display: grid;
    grid-template-columns: minmax(10%, max-content) 24px;
    grid-auto-rows: min-content;
    justify-content: start;
    align-items: baseline;
    column-gap: 18px;
    row-gap: 10px;
}

@media screen and (max-width: 620px) {
    .profile__info {
        padding: 28px 0 30px 35px;
        column-gap: 10px;
        row-gap: 8px;
    }
}
