.popup__user-job {
    border: 0;
    width: 358px;
    height: 14px;
    box-sizing: content-box;
    border-bottom: 1px solid #000;
    margin: 17px auto 0;
    padding: 13px 0 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 568px) {
    .popup__user-job {
        width: 238px;
        height: 14px;
    }
}