.footer {
    margin: 0 200px 0;
}

@media screen and (max-width: 1124px) {
    .footer {
        margin-left: 143px;
        margin-right: 143px;
    }
}

@media screen and (max-width: 984px) {
    .footer {
        margin-left: 70px;
        margin-right: 70px;
    }
}

@media screen and (max-width: 568px) {
    .footer {
        margin-left: 19px;
        margin-right: 19px;
    }
}