.card {
    margin: 0;
    width: 282px;
    height: 361px;
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 43px;
    grid-template-rows: 2fr 79px;
    justify-content: space-between;
    align-items: center;
}